<!-- Begin header -->
<header class="position-relative">
  <!-- Begin Navbar -->
  <nav class="fixed-top navbar navbar-expand-lg bg-white" id="navbar-main">
    <div class="container">
      <!-- logo -->
      <a class="navbar-brand text-white" href="javascript:;">
        <img src="/assets/images/duncan-logo.png" alt="Logo Duncan" width="64" height="64">
      </a>

      <!-- botón menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-header-2" aria-controls="navbar-header-2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
          <img src="/assets/icons/menu-dark-32-32.png" alt="menu" width="16px">
        </span>
      </button>
      
      <!-- menu -->
      <div class="collapse navbar-collapse" id="navbar-header-2">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-active text-primary-uai" href="javascript:;">
              Inicio
            </a>
          </li>

          <!-- Productos -->
          <li class="nav-item dropdown dropdown-hover">
            <a class="nav-link text-primary-uai dropdownMenuBlocks" id="dropdownMenuProductos" data-bs-toggle="dropdown" aria-expanded="false" href="javascript:;">
              Productos
              <img src="/assets/icons/down-arrow-dark.svg" alt="down-arrow" class="arrow ms-1">
            </a>
            <ul class="dropdown-menu downdown-menu-animation dropdown-lg dropdown-lg-responsive p-3 border-radius-sm mt-0 mt-lg-3" aria-labelledby="dropdownMenuProductos">
              <div class="d-lg-block">
                
                <!-- Todos -->
                <li class="nav-item">
                  <a href="pages/products.html" class="dropdown-item py-2 ps-3 border-radius-sm">
                    <div class="d-flex">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <img src="/assets/icons/icon-product.svg" alt="icono">
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark-uai font-weight-bolder d-flex align-items-center p-0">
                            Todos
                          </h6>
                          <span class="text-sm">Ver todos los productos</span>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <!-- Doble Engineering Company -->
                <li class="nav-item">
                  <a href="pages/doble.html" class="dropdown-item py-2 ps-3 border-radius-sm">
                    <div class="d-flex">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <img src="/assets/images/brands/logo_doble_small.svg" alt="icono">
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark-uai font-weight-bolder d-flex align-items-center p-0">
                            Doble Engineering Company
                          </h6>
                          
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <!-- Beckwith Electric -->
                <li class="nav-item">
                  <a href="javascript:;" class="dropdown-item py-2 ps-3 border-radius-sm">
                    <div class="d-flex">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <img src="/assets/images/brands/logo_beckwith_small.svg" alt="icono">
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark-uai font-weight-bolder d-flex align-items-center p-0">
                            Beckwith Electric
                          </h6>
                          
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <!-- Vanguard Instruments -->
                <li class="nav-item">
                  <a href="javascript:;" class="dropdown-item py-2 ps-3 border-radius-sm">
                    <div class="d-flex">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <img src="/assets/images/brands/logo_vanguard_small.svg" alt="icono">
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark-uai font-weight-bolder d-flex align-items-center p-0">
                            Vanguard Instruments
                          </h6>
                          
                        </div>
                      </div>
                    </div>
                  </a>
                </li>

                <!-- Manitoba -->
                <li class="nav-item">
                  <a href="javascript:;" class="dropdown-item py-2 ps-3 border-radius-sm">
                    <div class="d-flex">
                      <div class="icon h-10 me-3 d-flex mt-1">
                        <img src="/assets/images/brands/logo_pscad_02_small.svg" alt="PSCAD">
                      </div>
                      <div class="w-100 d-flex align-items-center justify-content-between">
                        <div>
                          <h6 class="dropdown-header text-dark-uai font-weight-bolder d-flex align-items-center p-0">
                            PSCAD
                          </h6>
                        </div>
                      </div>
                    </div>
                  </a>
                </li>
              </div>
            </ul>
          </li>
          <li class="nav-item" style="display: none;">
            <a class="nav-link text-dark-uai" href="#contactForm">
              Cursos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark-uai" href="#contactForm">
              Contacto
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
</header>
<!-- End header -->