<!-- Beging Main two columns -->
<div class="page-header min-vh-60 my-1" style="background-image: url('../assets/images/software-developer.webp');">
  <!-- <span class="mask bg-gradient-primary-uai"></span> -->
  <span class="mask bg-gradient-images-07-uai opacity-9"></span>
  <div class="container">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="row">
          <div class="col-lg-6 col-12 my-auto pt-4">
            <a href="javascript:;" (click)="goBack()" class="text-white text-sm hover-underline">
              <svg fill="#ffffff" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-47.26 -47.26 567.13 567.13" xml:space="preserve" stroke="#ffffff" stroke-width="0.00472615"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M167.158,117.315l-0.001-77.375L0,193.619l167.157,153.679v-68.555c200.338,0.004,299.435,153.932,299.435,153.932 c3.951-19.967,6.023-40.609,6.023-61.736C472.615,196.295,341.8,117.315,167.158,117.315z"></path> </g> </g> </g></svg>
              Regresar
            </a>
            <h2 class="text-white display-6 text-end">
              {{ software.name }}
            </h2>
            <div [innerHTML]="subnameSafe"></div>
            <p class="lead-sm text-end">
              <a href="{{ software.url }}" target="_blank" class="link-white hover-underline text-sm">Ver en sitio web</a>
            </p>
          </div>
          
          <div class="col-lg-6 col-12 my-auto pt-7" style="display: flex !important; justify-content: center !important; align-items: center !important;">
            <img class="img-fluid position-relative image-fit" src="../assets/images/software/{{ software.key }}.webp" alt="{{ software.name }}" width="80%">
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Main -->

<!-- Begin Overview -->
<section class="page-header min-vh-40 py-3">
  <div class="container">
    <div class="row my-3">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div>
          <h3 class="text-primary-uai">
            Descripción General
          </h3>
          <div [innerHTML]="overviewSafe"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Overview -->

<!-- Begin Descripción -->
<section class="page-header py-3" *ngIf="descriptionSafe">
  <span class="mask bg-gradient-primary-uai opacity-1"></span>
  <div class="container">
    <div class="row my-3">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h3 class="text-secondary-uai">
          Descripción
        </h3>

        <div [innerHTML]="descriptionSafe"></div>
      </div>
    </div>
  </div>
</section>
<!-- End Descripción -->

<!-- Begin Características -->
<section class="page-header py-3" *ngIf="featuresSafe">
  <div class="container">
    <div class="row my-3">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <h3 class="text-secondary-uai">
          Características clave
        </h3>

        <div [innerHTML]="featuresSafe"></div>
      </div>
    </div>
  </div>
</section>
<!-- End Características -->

<!-- Begin screenshoots -->
<!-- End screenshoots -->

<!-- Begin más info -->
<app-more-info></app-more-info>
<!-- End más info -->