<!-- Beging Main -->
<div class="page-header min-vh-65" style="background-image: url('../assets/images/lines/{{ line.key }}.webp');">
  <!-- <div class="page-header min-vh-75"> -->
  <span class="mask bg-gradient-images-07-uai opacity-7"></span>
  <div class="container">
    <!-- Botón atrás -->
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <a href="javascript:;" (click)="goBack()" class="text-white text-sm hover-underline">
          <svg fill="#ffffff" height="25px" width="25px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-47.26 -47.26 567.13 567.13" xml:space="preserve" stroke="#ffffff" stroke-width="0.00472615"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M167.158,117.315l-0.001-77.375L0,193.619l167.157,153.679v-68.555c200.338,0.004,299.435,153.932,299.435,153.932 c3.951-19.967,6.023-40.609,6.023-61.736C472.615,196.295,341.8,117.315,167.158,117.315z"></path> </g> </g> </g></svg>
          Regresar
        </a>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="text-white display-4">
          {{ line.name }}
        </h2>
        <br>
        <div class="scroll-down-container">
          <a href="javascript:;" (click)="scrollToDescription()" type="button" class="scroll-down-button">
            <div class="chevron"></div>
            <div class="chevron"></div>
            <div class="chevron"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Main -->

<!-- Begin Descripción general -->
<section class="page-header min-vh-35" id="descripcion" name="descripcion">
  <div class="container">
    <div class="row align-items-center my-5">
      <div class="col-lg-8 col-12 mx-auto text-center">
        <div>
          <h2 class="text-primary-uai">Descripción general</h2>
          <div [innerHTML]="aboutSafe"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Descripción general -->

<!-- Begin Categorías -->
<ng-container *ngFor="let category of line.categories; let i = index">
  <section class="page-header">
    <span class="mask bg-gradient-doble opacity-1" *ngIf="i % 2 === 0"></span>
    <div class="container">
      <div class="row mt-3 mb-3">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <h2 class="text-secondary-uai mt-5">
            {{ category.name }}
          </h2>
        </div>
      </div>

      <div class="row mb-7">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
          <div class="row">
            
            <!-- Begin Productos -->
            <div class="col-lg-4 mb-lg-0 mb-4 mt-4" *ngFor="let product of category.products; let j = index">
              <div class="card card-hover">
                <div class="card-header p-0 position-relative z-index-1">
                  <a href="javascript:;" class="d-block">
                    <img src="../assets/images/products/{{ product.key }}.webp" alt="{{ product.name }}" class="img-fluid border-radius-sm">
                  </a>
                </div>
                
                <div class="card-body pt-3">
                  <a href="javascript:;" class="card-title h5 d-block text-secondary-uai">
                    {{ product.name }}
                  </a>
                  <p class="card-description-mb-4 text-dark-uai">
                    {{ product.subname }}
                  </p>
                  <div class="align-items-center">
                    <div class="col-md-12 text-center">
                      <a href="javascript:;" [routerLink]="[product.key]" class="btn btn-primary mt-4">
                        Ver equipo
                      </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- End Productos -->

          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
<!-- End Categorías -->

<!-- Begin más info -->
<app-more-info></app-more-info>
<!-- End más info -->